* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    background-color: #562537;
}

body {

    font-family: 'Fredoka', sans-serif;
}

header {
    background-color: #FFF;
    align-items: center;
    height: 9.8rem;
    width: 100%;
    padding: 0 7.5rem;

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

#logo {
    margin: none;
    padding: none;
}

ul, a{    
    display: flex;
    text-decoration: none;
    gap: 64px;
    list-style: none;
    
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    color: #662D41;
    font-size: 2.5rem;
}

ul li:hover {
    text-shadow: 1px 1px 2px rgba(60, 1, 1, 0.5);
    cursor: pointer;
}

#page {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: #662D41;
    font-size: 6rem;
    height: 100vh;
    width: 100vw;

    /* position:relative; */
    left: 0;
    top: 0;
    overflow: hidden;

}

#page::before {
    content: '';
    background-image: url('./assets/gelato.jpg');
    background-size:cover;
    height: 103%;
    width: 105%;
    display: block;
    position:absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#textButton {
    width: 100rem;
    height: 21.4rem;

    margin: 30.6rem 0 0 10rem;


    display: flex;
    flex-direction: column;
    align-items: center;
}

#textButton span {
    margin-left: 5px;
}

.button {
    border: none;
    
    padding: 2rem 6rem;
    width: 33.2rem;
    
    background-color: #662D41;
    color: #FFF;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    border-radius: 7.5rem;
    font-size: 4rem;
    
    cursor: pointer;

    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #562537;
}

.separator {
    background-color:#ffffff;
    height: 5.5rem;
    width: 100vw;
    left: 0;

}

#history {
    position: relative;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;


    background-color: wheat ;

}

.img {
    background-image: url('./assets/gelato-display.png');
    background-repeat: no-repeat;

    background-size: contain;
    height: 100%;
    width: 100%;

}

.about-us{

    font-size: 3rem;

    width: 100%;
    height: 100%;

    padding: 8rem 5.2rem 2.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.about-us h1 {
    font-family: 'The Girl Next Door', cursive;
    margin: 0;
    
    padding-top: 5rem;


    color: #562537;
    font-weight:bold;
}

.about-us p{
    line-height: 1.5;
    font-weight:300;
}


#cards {
    height: 100vh;
    width: 100vw;
}

.menu {
    display: flex;

    height: 100%;
    width: 100%;

}

.menu .card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
    
    
    min-width: 0;
    opacity: 0.7;
    flex: 1 1 10px;
    
    transition: .5s;
    height: 100%;
    aspect-ratio: 9/16;
}

.menu .card-container img {
    object-fit:cover;
    height: 100%;
}

.menu .card-container h1 {
    position: absolute;
    background: #562537;
    width: 100%;
    font-size: 4rem;
    color: #FFF;
    font-weight: 300;
    overflow: hidden;
    z-index: 1;
}

.card-container:hover{
    flex: 1 1 100px;
    opacity: 1;
}


/*forms*/
#subscription {
    background: #562537;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 110%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;

    font-family: 'Fredoka', sans-serif;
  }

  .form-group{
    padding-top: 1rem;
  }
  
  #disclaimer h2,
  #disclaimer .event-date {
    color: #eead2d;
  }
  
  #disclaimer h2 {
    font-size: 5rem;
    margin: 0;
  }
  
  #disclaimer .about-event {
    font-size: 3rem;
    text-transform: uppercase;
    max-width: 45rem;
    margin-bottom: 1em;
  }
  
  #disclaimer p {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }
  
  #subscription-form {
    background-color: #ebd09a;
    padding: 2em;
    max-width: 22%;

    border-radius: .5rem;
  }
  
  #subscription-form p {
    font-size: 1.5em;
    color: black;

    margin-bottom: 1em;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
  }
  
  .form-group label {
    color: black;
    margin-bottom: 0.3em;

    font-size: 1.5rem;
  }
  
  .form-group input,
  .form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  #btn {
    background-color: #662D41 ;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 1.2rem;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 2rem;

    border-radius: .7rem;
  }
  
  #btn:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: #eead2d;
    color: #000000;
  }

  input[type="range"]{
	accent-color: #662D41;
}

.resposta-form {
    width: 100%;
    height: 6rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

/*Localization*/

#map {
    height: 50vh;
    width: 103%;
    background-color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 15rem;

    font-size: 3rem;
    margin: 0;

}

#map h1 {
    color: #562537;
}
/*Footer*/

footer {
    background-color: #562537;

    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    gap: 2rem;
    width: 100vw;
    height: 110%;

    /* position: absolute; */
    bottom: 0;
    left: 0;
}

footer li {
    color: #fff;
    font-size: 1.5rem;
}

footer li:hover{
    color: #eead2d;
}

footer img {
    filter: invert(50%) sepia(10%) saturate(3800%) hue-rotate(354deg) brightness(150%) contrast(83%);
    scale: 60%;
}


